//
//  App
//

.app {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	// Mobile Status
	@include media-breakpoint-down(map-get($aside, mobile-breakpoint)) {
		overflow: hidden;
	}
}

#map {
	width: 100%;
	height: 70vh;
}

.logo {
	filter: brightness(0) invert(1);
}
.social-icon {
	@include aside-close {
		display: none;
	}
}

.brand-logo-min {
	display: none;
}

.scrollable-table {
	width: 100%;
	overflow: auto;
	max-height: 300px; /* Establece la altura máxima para la tabla */
	border-collapse: collapse;
}

.scrollable-table th,
.scrollable-table td {
	padding: 8px;
}

.scrollable-table thead th {
	position: sticky;
	top: 0;
}
